<%- include('_header.ejs') %>

<div id="content1" style="margin-top:10%;">
    <br>
    <br>
    ** insert tableau stuff here **
    ** Include information about mental health awareness **
    <h1 style="font-size:50">Awareness Page</h1>
</div>

<%- include('_footer.ejs') %>