<%- include('_header.ejs') %>
<div id="infoContent" style="margin-top:10%;">
    <br>
    <h1 style="color:black; margin-top:10%; padding-left: 32%;">Informational Dashboard</h1> 

    <div id="tableauContent1" style="margin-top:1%;">
        <br>
        <br>
        <div class='tableauPlaceholder' id='viz1702053428337' style='position: relative'>
            <noscript>
                <a href='#'>
                    <img alt='Mental Health Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;So&#47;SocialMediaandMentalHealthDashboard&#47;MentalHealthDashboard&#47;1_rss.png' style='border: none' />
                </a>
            </noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                <param name='name' value='SocialMediaandMentalHealthDashboard&#47;MentalHealthDashboard' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;So&#47;SocialMediaandMentalHealthDashboard&#47;MentalHealthDashboard&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1702053428337'); 
            var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { 
                vizElement.style.width='1000px';
                vizElement.style.height='827px';
            } else if ( divElement.offsetWidth > 500 ) { 
                vizElement.style.width='1000px';
                vizElement.style.height='827px';
            } else { 
                vizElement.style.width='100%';
                vizElement.style.height='1627px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
         </script>

    <div id="tableauContent1">
        <div id="tabInstructions">
            <br>
            <h1 style="color:black; margin-left:20%;">How to use dashboard:</h1>
            <p>
                Welcome to our interactive dashboard, providing real-time insights into social media usage and its impact on various demographics. The data stems from a comprehensive survey encompassing individuals' daily social media habits, demographic details (age, affiliations, occupation, and relationship status), with updates as more responses roll in. To navigate the wealth of information, utilize the filters wisely. You can click on a specific social media platform to view data exclusive to that medium, refine results by age, city, or affiliations. The displayed tools, such as average daily social media hours, stress levels linked to platforms, affiliations, and age-specific stress trends, aim to empower users in understanding the nuanced interplay between social media usage and well-being. Keep exploring, filtering, and uncovering valuable insights as the dashboard dynamically updates with each new survey response. Your engagement contributes to a continually evolving understanding of social media's impact on diverse populations.
            </p>
        </div>
        <div style="margin-left:1%; margin-bottom:1%;">
            <p id="datalink">Administrators may access the data <a href="data">here</a></p>
        </div>
    </div>

    <div id="tableauContent" style="margin-top:2%">
        <div id="container4">
            <div style="margin-left: 2%;">
                <div style="width:90%;">
                    <br>
                    <br>
                    <h1 style="color:black">The importance of SMU UH</h1>
                    <p1>
                        The establishment of Provo's Social Media Usage and Mental Health committee (SMU MH committee) reflects a proactive response by the city government to the escalating concerns surrounding mental health in the context of burgeoning social media usage. With a noticeable increase in anxiety, depression, and social isolation, the local government recognizes the need to investigate the intricate relationship between digital connectivity and the well-being of their community members. The creation of the SMU MH committee demonstrates a commitment to understanding the specific influences and stressors that social media may impose on residents' mental health. The acquisition of a relevant dataset from Plainsville, a neighboring community with similar demographics, underscores the committee's dedication to thorough research and data-driven insights. By delving into these connections, the committee aims to formulate informed strategies and interventions to promote a healthier and more resilient community in the face of evolving digital landscapes.
                    </p1>
                </div>          
            </div>
            <div style="width:43%; margin-top:3.5%; margin-bottom:5%; margin-top:7%;">
                <p1>
                    The gathering and analysis of data play a pivotal role in the endeavors of Provo's Social Media Usage and Mental Health committee (SMU MH committee) as they strive to unravel the intricate relationship between mental health and social media in their community. By acquiring a dataset from Plainsville, a demographically similar neighboring community, the committee has access to valuable insights into social media usage patterns and their potential impact on mental well-being. Through meticulous analysis, the committee can identify correlations, trends, and specific stressors associated with digital connectivity. This data-driven approach allows for a nuanced understanding of how social media may contribute to rising levels of anxiety, depression, and social isolation. The insights derived from this analysis will serve as a foundation for evidence-based strategies and targeted interventions, empowering the committee to formulate effective policies and initiatives aimed at promoting mental health and well-being in the context of the evolving digital landscape.
                </p1>
            </div>
        </div>
    </div>


    <div id="tableauContent" style="margin-top:2%">
        <div id="container4">
            <div style="margin-left: 2%;">
                <div style="width:90%;">
                    <br>
                    <br>
                    <h1 style="color:black">Why we do what we do</h1>

                    <p1>
                        The intricate relationship between social media and mental health among college-aged individuals has become a subject of growing concern in recent years. The pervasive nature of social media platforms, such as Facebook, Instagram, and Twitter, has significantly altered the landscape of interpersonal connections and self-perception. On one hand, these platforms offer avenues for social interaction, information sharing, and community building, fostering a sense of connectivity among college students. However, the constant exposure to curated images, idealized lifestyles, and the pressure to conform to societal standards can contribute to heightened levels of stress, anxiety, and feelings of inadequacy. The perpetual comparison with peers' achievements and experiences showcased on social media may exacerbate pre-existing insecurities, leading to a negative impact on mental well-being. Additionally, the addictive nature of these platforms can contribute to a sedentary lifestyle and sleep disturbances, further compounding mental health challenges. It is crucial for both individuals and educational institutions to recognize and address these concerns, promoting a balanced and mindful approach to social media use among college-aged individuals to foster positive mental health outcomes.
                    </p1>
                    <br>
                    <br>
                </div>          
            </div>
            <div style="width:43%; margin-top:3.5%; margin-bottom:5%; margin-top:10%">
                <p1>Achieving a harmonious balance in one's lifestyle is paramount for enhancing mental health and fostering genuine connections with others. In today's fast-paced world, where technology and commitments can easily overwhelm us, it becomes essential to prioritize self-care and mindful living. Balancing work, leisure, and personal time allows for a more holistic approach to well-being. Incorporating activities that bring joy, such as hobbies, exercise, and moments of relaxation, not only rejuvenates the mind but also strengthens the overall resilience against stressors. Equally important is cultivating meaningful connections with others by dedicating time to engage in face-to-face interactions, whether with friends, family, or colleagues. Building and nurturing authentic relationships contribute significantly to a sense of belonging and emotional support. Striking this equilibrium between personal well-being and social connections paves the way for a more fulfilling and mentally healthy lifestyle, enabling individuals to navigate life's challenges with resilience and a positive outlook. <p1 style="font-weight:bold;">Prioritize all these above your connection to social media.</p1>
                </p1>
            </div>
        </div>
    </div>
</div>

<%- include('_footer.ejs') %>