<%- include('_header.ejs') %>
<br>
<br>
<br>
<br>
<br>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="button-23">Logout</button>
</form>
this is the data page

<%- include('_footer.ejs') %>