<%- include('_header.ejs') %>


<div id="container1">
    <div>
        <h1 id="slogan">Your mental health<br> matters.</h1>
    </div>
    <div></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var fadeElement = document.querySelector('container1');
        fadeElement.classList.add('fade-in');
    });
</script>


<div id="container2">
    <div></div>
    <div style="float:right;">
        <img src="/images/hands.png" style="width: 30%;" alt="image" id="hands"><br>
        <p2 style="color:white;">Find help here.</p2>
    </div>
</div>



<div id="helpcontent">
    <h1 style="color:black; margin-top:10%; padding-left: 40%;">Help Resources</h1>
    <br>
    <br>
    <div style="text-align: center;">
        <iframe width="800" height="400" src="https://www.youtube.com/embed/DcIgk94Fp6Y?si=Zu-Woz6Vbc3D50x2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div id="tabInstructions" style="margin-top:7%;">
        <br>
        <h1 style="color:black; margin-left:25%;">A better understanding</h1>
        <div class="col-sm-12" style="text-align:center; width:90%; margin-bottom:4%; margin-left:5%;" id="ProHelpLink">
            <div class="alert fade alert-simple alert-success alert-dismissible text-center font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <strong class="font__weight-semibold" style="color:green">Find professional help here:</strong> if you or someone close struggles with social media and/or mental health.
            </div>
        </div>
        <p1>
            The correlation between mental illness and social media addiction is complex, with each influencing the other. Excessive social media use can contribute to mental health issues such as anxiety and depression, while individuals facing mental health challenges may turn to social media for coping. Recognizing this interplay is crucial in the healing process. Understanding the impact of social media on mental health enables individuals to address the root causes of addiction, develop healthier coping mechanisms, and establish a more mindful relationship with online platforms. Integrating mental health awareness into strategies for overcoming social media addiction promotes a holistic approach, fostering overall well-being and resilience in the digital age.
        </p1>
    </div>

    <div id="container4">
        <div style="margin-left: 2%;">
            <div style="width:90%;">
                <br>
                <br>
                <img src="/images/michellequote.jpg" style="width: 80%; padding-left:30%;" alt="image" id="michelle"><br>
                <br>
                <br>
            </div>          
        </div>
        <div style="width:43%; margin-top:3.5%; margin-bottom:0%; margin-top:10%">
            <p1>It takes strength to acknowledge and address these challenges. Everyone deserves to feel safe and confident in seeking help. Just as we prioritize physical health, taking care of our mental well-being is equally important. By reaching out for support, individuals contribute to their own healing and resilience, fostering a community where open conversations about mental health are not only accepted but encouraged. Seeking help is a sign of courage, self-awareness, and a commitment to personal growth, and it is an essential step towards a healthier, more fulfilling life.</p1>
        </div>
    </div>
    <br>
    <br>
    <div id="container4">
        <div style="margin-left: 10%; margin-top:5%;">
            <p1>
                Cultivating a harmonious balance in various aspects of life, with a particular focus on the mindful use of social media, emerges as a cornerstone in the pursuit of enhanced mental well-being. By consciously managing the time spent on digital platforms, individuals can redirect their energy towards fostering genuine, in-person connections, participating in meaningful activities, and embracing moments of solitude or reflection. This intentional approach not only mitigates the potential adverse effects of excessive social media consumption but also promotes a more holistic and fulfilling lifestyle, where mental health is nurtured through a thoughtful equilibrium between the digital and physical realms.
            </p1>
        </div>
        <div style="width:43%; margin-top:3.5%; margin-bottom:5%; margin-top:0%">
            <div style="width:90%;">
                <br>
                <br>
                <img src="/images/social.jpeg" style="width: 60%; margin-left:20%;" alt="image" id="social"><br>
                <br>
                <br>
            </div>          
        </div>
    </div>

    <div id="helplist" style="text-align:left;">
        <strong>Self Help Links:</strong>

        <ol class="alternating-colors">
        <li>
            <strong>Recognize the signs:</strong>
            <a href="https://www.addictioncenter.com/drugs/social-media-addiction/" target="_blank">Addictioncenter.com</a>
        </li>
        <li>
            <strong>Overcome:</strong>
            <a href="https://globalowls.com/social-media-addiction/" target="_blank">globalowls.com</a>
        </li>
        <li>
            <strong>Understand Causes:</strong>
            <a href="https://www.addictionhelp.com/social-media-addiction/causes/" target="_blank">addictionhelp.com</a>
        </li>
        <li>
            <strong>Resilience:</strong>
            <a href="https://www.calm.com/blog/mental-strength" target="_blank">calm.com</a>
        </li>
        </ol>
    </div>
    <br>
    <br>
</div>
<script>
    document.getElementById("ProHelpLink").addEventListener("click", function() {

        window.location.href = "proHelp";
    });
</script>


<%- include('_footer.ejs') %>