<%- include('_header.ejs') %>


<div id="container1">
    <div>
        <h1 id="slogan">Your mental health<br> matters.</h1>
    </div>
    <div></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var fadeElement = document.querySelector('container1');
        fadeElement.classList.add('fade-in');
    });
</script>


<div id="container2">
    <div></div>
    <div style="float:right;">
        <img src="/images/hands.png" style="width: 30%;" alt="image" id="hands"><br>
        <p2 style="color:white;">Find help here.</p2>
    </div>
</div>



<div id="content">
    <h1 style="color:black; margin-top:10%; padding-left: 40%;">Help Resources</h1>
    <br>
    <br>
    <div style="text-align: center;">
        <iframe width="800" height="400" src="https://www.youtube.com/embed/DcIgk94Fp6Y?si=Zu-Woz6Vbc3D50x2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div id="button" style="text-align: center;">
        <a href="/survey" class="button-23" role="button">Take Survey!</a>
    </div>
</div>


<%- include('_footer.ejs') %>