<%- include('_header.ejs') %>


<div id="container1">
    <div>
        <h1 id="slogan">Your mental health<br> matters.</h1>
    </div>
    <div></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var fadeElement = document.querySelector('container1');
        fadeElement.classList.add('fade-in');
    });
</script>


<div id="container2">
    <div></div>
    <div style="float:right;">
        <p2 style="color:white;">Find help here.</p2>
    </div>
</div>



<div id="content">
    <h1 style="color:black; margin-top:10%; padding-left: 40%;">Help Resources</h1>                   



    <div id="button">
        <a href="/survey" class="button-23" role="button">Take Survey!</a>
    </div>
</div>

<%- include('_footer.ejs') %>