<%- include('_header.ejs') %>


<div id="container1">
    <div>
        <h1 id="slogan">Your mental health<br> matters.</h1>
    </div>
    <div></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var fadeElement = document.querySelector('container1');
        fadeElement.classList.add('fade-in');
    });
</script>


<div id="container2">
    <div></div>
    <div style="float:right;">
        <p2 style="color:white;">Find help here.</p2>
    </div>
</div>



<div id="content">
    <div id="container3">
            <div style="width:80%;">
                <h1 style="color:black; margin-top:10%;">Awareness</h1>                   
            </div>
            <div>
                <h1 style="color:black; padding-top:10%;">How to help</h1>
            </div>
    </div>



    <div id="container4">
        <div>
            <div style="width:90%;">
                <p1>
                    In a world increasingly shaped by digital connectivity, the prevalence of mental 
                    health struggles has become a pressing concern. Anxiety, depression, and social 
                    isolation are challenges faced by many, and the impact of social media on these 
                    struggles cannot be overlooked.
                    By raising awareness of the dangers posed by untreated 
                    mental health struggles and emphasizing the significance of data-driven insights, 
                    we can collectively work towards fostering a community that is not only digitally 
                    connected but also supportive of mental well-being. The journey toward a healthier, 
                    more empathetic society begins with acknowledging the challenges and leveraging the 
                    power of data to drive informed initiatives and interventions.</p1>
            </div>          
        </div>
        <div style="width:43%">
            <p1>Residents of Provo, your input is crucial in understanding the impact of social media on 
                mental health. The Social Media Usage and Mental Health committee invites you to 
                participate in a survey designed to gather insights into this relationship. By sharing 
                your experiences, you contribute to shaping effective strategies for mental well-being 
                within our community. Your input is vital in creating a city that prioritizes the health 
                of its residents in the digital age. Take a moment to complete the survey and be part of 
                this important initiative.
            </p1>
        </div>
    </div>


    <div id="button">
        <a href="/survey" class="button-23" role="button">Take Survey!</a>
    </div>
</div>

<%- include('_footer.ejs') %>