<%- include('_header.ejs') %>

<div id="surveyContent" style="margin-top:10%;">
    <br>
    <h1 style="color:black; margin-top:10%; padding-left: 40%;">Privacy Policy</h1>                   

    <div id="policy">
        <p>
            The Social Media Usage and Mental Health Committee are committed to protecting the privacy of individuals who participate in our survey. This privacy policy outlines how we collect, use, and safeguard the information gathered during the survey process.

            Data Collection:

            We collect anonymous data solely for the purpose of conducting research on the relationship between social media usage and mental health.
            The information collected includes responses to survey questions and may include demographic details such as age, gender, and location. However, these details are optional and are used for the purpose of analyzing general trends and patterns.
            Anonymity:

            All responses provided in the survey are treated as anonymous. Personal identifiers are not collected, ensuring that individual participants cannot be personally identified from the data.
            Data Usage:

            The data collected is used exclusively for research purposes by the Social Media Usage and Mental Health Committee.
            We analyze the aggregated data to identify general trends and patterns related to social media usage and mental health within our community.
            Data Sharing:

            We do not share individual survey responses or personally identifiable information with any third parties.
            Aggregated and anonymized data may be shared in presentations, reports, or publications, but these will not contain any information that could identify specific individuals.
            Data Security:

            We take the security of the collected data seriously and have implemented measures to protect against unauthorized access, disclosure, alteration, and destruction.
            Access to the survey data is restricted to authorized personnel involved in the research and analysis process.
            Participant Consent:

            By participating in the survey, you consent to the collection and use of your anonymous data for research purposes as outlined in this privacy policy.
            Contact Information:

            If you have any questions or concerns about the privacy policy or the survey, you can contact us at [Committee Contact Email].
            Policy Updates:

            This privacy policy may be updated periodically to reflect changes in our data collection and usage practices. Participants will be notified of any significant changes.
            By participating in the survey, you acknowledge that you have read and understood this privacy policy. Your contribution is invaluable in advancing our understanding of the relationship between social media usage and mental health in our community.
        </p>
    </div>


<%- include('_footer.ejs') %>