<%- include('_header.ejs') %>


<div style="margin-top:15%">
    <form action="/register" method="POST" id="loginStuff">
        <h1 style="text-align:left; margin-left:26.5%;">Register</h1>
        <% if (messages.error) { %>
            <p class="error"><%= messages.error %></p>
        <% } %>
        <label for="username" style="text-align:left;">New Username:</label>
        <input type="text" id="username" name="username" required autofocus>
        <br>
        <br>
        <label for="email" style="text-align:left;">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <br>
        <label for="password" style="text-align:left;">New Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <div id="button">
            <button type="submit" class="button-23">Register</a>
        </div>
        <p id="showLoginLink">Return to <a href="login">Login</a></p>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="footer01">
    <p2>&copy SMU UH  |  smuuh@gmail.com  |  (801) 852-6600  </p2>
</div>


</body>
</html>