<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>SMU UH</title>
</head>
<body id="bg3">

    <div id="navbar">
        <div id="logo">
            SMU UH Committee
        </div>
    <script>
        document.getElementById("logo").addEventListener("click", function() {
        window.location.href = "index.html";
    });
    </script>
        <div id="nav">
            <ul>
                <li><a href="/views/survey.html">Survey</a></li>
                <li><a href="/views/awareness.html">About <p2>SMU UH</p2></a></li>
                <li><a href="/views/login.html">Admin Login</a></li>
            </ul>
        </div>
    </div>

    <div id="content1" style="margin-top:10%;">
        <br>
        <br>
        ** insert tableau stuff here **
        ** Include information about mental health awareness **
    </div>

    <div id="footer">
        <p2>&copy SMU UH  |  smuuh@gmail.com  |  555-555-5555  </p2>
    </div>
</body>
</html>