<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>SMU UH</title>
</head>
<body id="bg">

    <div id="navbar">
        <div id="logo">
            SMU UH Committee
        </div>
    <script>
        document.getElementById("logo").addEventListener("click", function() {
        window.location.href = "index.html";
    });
    </script>
        <div id="nav">
            <ul>
                <li><a href="/views/survey.html">Survey</a></li>
                <li><a href="/views/awareness.html">About <p2>SMU UH</p2></a></li>
                <li><a href="/views/login.html">Admin Login</a></li>
            </ul>
        </div>
    </div>



    <div id="container1">
        <div>
            <h1>Mental health<br> awareness.</h1>
        </div>
        <div></div>
    </div>



    <div id="container2">
        <div></div>
        <div style="float:right;">
            <img src="/images/white_star.png" alt="image" id="star"><br>
            <p2 style="color:white;">Shaping our future<br>by shaping our youth.</p2>
        </div>
    </div>



    <div id="content">
        <div id="container3">
                <div style="width:80%;">
                    <h1 style="color:black; margin-top:10%;">Awareness</h1>                   
                </div>
                <div>
                    <h1 style="color:black; padding-top:10%;">How<br>to help</h1>
                </div>
        </div>



        <div id="container4">
            <div>
                <div style="width:90%;">
                    <p1>
                        In a world increasingly shaped by digital connectivity, the prevalence of mental 
                        health struggles has become a pressing concern. Anxiety, depression, and social 
                        isolation are challenges faced by many, and the impact of social media on these 
                        struggles cannot be overlooked.
                        By raising awareness of the dangers posed by untreated 
                        mental health struggles and emphasizing the significance of data-driven insights, 
                        we can collectively work towards fostering a community that is not only digitally 
                        connected but also supportive of mental well-being. The journey toward a healthier, 
                        more empathetic society begins with acknowledging the challenges and leveraging the 
                        power of data to drive informed initiatives and interventions.</p1>
                </div>          
            </div>
            <div style="width:43%">
                <p1>Residents of Provo, your input is crucial in understanding the impact of social media on 
                    mental health. The Social Media Usage and Mental Health committee invites you to 
                    participate in a survey designed to gather insights into this relationship. By sharing 
                    your experiences, you contribute to shaping effective strategies for mental well-being 
                    within our community. Your input is vital in creating a city that prioritizes the health 
                    of its residents in the digital age. Take a moment to complete the survey and be part of 
                    this important initiative.
                </p1>
            </div>
        </div>


        <div id="button">
            <a href="/views/survey.html" class="button-23" role="button">Take Survey!</a>
        </div>
    </div>

    <div id="footer">
        <p2>&copy SMU UH  |  smuuh@gmail.com  |  555-555-5555  </p2>
    </div>
</body>
</html>